  html, body {
    margin: 5;
    padding: 5;
  }
  body {
    font-weight: 100;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url('topography.png');
    font-size: 20px;
    font-family: Consolas,monaco,monospace;
  }

  @import url(https://fonts.googleapis.com/css?family=Bitter&display=swap);

  h1,h2,h3{
    font-family: 'Bitter';
  }
  h2{
    text-align: center;  
  }
  h2::before{
    content:"- - -";
    display: block;
  }
  h3{
    color :#ff0099;
  }
  a{
    color: #ff0099;
    text-transform: uppercase;
  }
  #header{
    background-color: #333333;
    padding: 10px;
    text-align: right;
  }
  #logo
  {
    margin-top: auto;
    float: left;
    padding:9px 9px 9px 32px;
  }
  #header span{
    line-height: 50px;
  }