.container {
    display: grid;
    background-color: purple;
    grid-template-columns: 1fr 3fr 1fr;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
}

.side {
    background-color: yellow;
    height: 100px;
    text-align: center;
    margin: 5px;
}

.middle {
    background-color: green;
    text-align: center;
    margin: 5px;
}