table {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    width: 80vh;
    margin: auto;
    text-align: left;
    margin-left: 2px
}

td {
    border: 1px solid black;
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 10px;
}

body {
    text-align: right;
}

th {
    background-color: black;
    color: white;
}

td::before {
    content: "$"/*TODO: Dollar sign*/
}

td:nth-child(odd) {
    border-right: 1px solid grey;
}

tr:nth-child(even) {
    background: rgb(235, 235, 235);
}

tr:nth-child(odd) {
    background: white;
}