table {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    width: 80vh;
    margin: auto;
    text-align: left;
    margin-left: 2px
}

td {
    border: 1px solid black;
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 8px;
}

body {
    text-align: right;
    background: rgb(62, 148, 236);
}

th {
    background-color: black;
    color: white;
}

td::before {
    content: "$"
}