table {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 80vh;
    text-align: left;
    box-shadow: 0px 0px 0px 15px blue;
    margin: 50px;
    background-color: gray;
}

td {
    border: 1px solid black;
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 10px;
}

body {
    text-align: right;
}

th {
    background-color: black;
    color: white;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid gray;
    border-radius: 5px 5px 0px 0px;
}

td:nth-child(2)::before {
    content: "$"/*TODO: Dollar sign*/
}

td {
    border: 1px solid grey;
}

tr:nth-child(even) {
    background: rgb(235, 235, 235);
}

tr:nth-child(odd) {
    background: white;
}