<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fox Player</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="parent">
      <div class="currentlyPlaying">
        <span>CardiB FEAT Selena Gomez:TakiTaki</span>
        <img class="imageButton" src="/images/plus.svg" />
        <img class="imageButton" src="/images/star.svg" />
      </div>
      <div class="logo">
        <img src="/images/foxplayer.png" alt="Foxplayer" />
      </div>
      <div class="playlistControl">
        <span>Playlist</span>
        <span>+</span>
      </div>
      <div class="artwork">
        <img src="/images/music-placeholder.png" alt="music-placeholder" />
      </div>
      <div class="controlP">
        <img class="imageButton" src="/images/rewind.svg" alt="rewind" />
        <img class="imageButton" src="/images/pause.svg" alt="pause" />
        <img class="imageButton" src="/images/forward.svg" alt="forward" />
        <span>
          3:21
        </span>
        <input type="range" min="1" max="100" value="50" id="seekBar" />
        <span>
          6:42
        </span>
        <img class="imageButton" src="/images/shuffle.svg" alt="shuffle" />
        <img class="imageButton" src="/images/volume.svg" alt="volume" />
        <audio></audio>
      </div>
      <div class="playlists">
        <div>Favorites</div>
        <div>Last played</div>
      </div>
      <div class="tracks">
        <div>Ars_Sonor_-_02_-_Never_Give_Up.mp3 feat(music player)</div>
        <div>Doctor_Turtle_-_Doctor_Talos_Answers_The_Door.mp3</div>
        <div>Organoid_-_09_-_Purple_Drift.mp3</div>
      </div>
    </div>
    <script src="/Day-01/assets/js/main.js"></script>
  </body>
</html>
